@font-face { 
    font-family: 'RickAndMorty'; 
    src: url('./fonts/get_schwifty.ttf')
}




.buttonHE { 
    font-family: 'RickAndMorty';
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-top: 50px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    color: greenyellow;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonHE:hover {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}


.Errorh1 {
    position: relative;
    z-index: 1;
    color: greenyellow;
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
    font-family: 'RickAndMorty';
    animation-name: title-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.gif {
        display: block;
        margin: 0 auto;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        outline: 10px  solid rgba(0, 255, 0, 0.5);
        outline-offset: -10px;
        animation-name: gif-animation;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    
    
    
    
    @keyframes gif-animation {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(10deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    
    @keyframes title-animation {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    
    